@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: impact;
}

html {
    scroll-behavior: smooth;
}


#LeftMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 191, 255, 0.4);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mainNav {
    margin-top: 70px;
}

.mainNav a {
    margin-bottom: 15px;
}

.home,
.about,
.portfolio,
.services,
.blog,
.contact {

    display: grid;
    place-items: center;
    height: 100vh;
}

.home h2,
.about h2,
.portfolio h2,
.services h2,
.blog h2,
.contact h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: deepskyblue;
    letter-spacing: 1px;
}

.home p,
.about p,
.portfolio p,
.services p,
.blog p,
.contact p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 65%;
    line-height: 1.9;
    text-align: center;
    margin: auto;
    color: #fff;
    letter-spacing: .5px;
    font-size: 18px;
    font-weight: bold;
}

.home {
    background-image: url(img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.about {
    background-image: url(img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.portfolio {
    background-image: url(img/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.services {
    background-image: url(img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.blog {
    background-image: url(img/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.contact {
    background-image: url(img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.home:after,
.about:after,
.portfolio:after,
.services:after,
.blog:after,
.contact:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: -1;
}


#LeftMenu a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: .5s;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 50px 50px 0;
}

#LeftMenu a:hover {
    color: #000;
    background: #fff;
}

#LeftMenu a.btn-area {
    border-radius: 0;
}

#LeftMenu .btn-area {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
}

span {
    position: fixed;
    right: 90px;
    top: 30px;
    font-size: 30px;
    transition: .3s;
    cursor: pointer;
    z-index: 5;
    color: deepskyblue;
}

@media (max-width:767px) {
    span {
        right: 25px;
        top: 20px;
        font-size: 20px;
    }

    .home h2,
    .about h2,
    .portfolio h2,
    .services h2,
    .blog h2,
    .contact h2 {
    font-size: 35px;
}


.mainNav {
    margin-top: 20px;
}
}